.Tarifs{
    width: 1320px;
    height: 644px;

}
.HeaderTarifs{
    font: var(--font-header-main);


}
.BlockTarifs{
    display: flex;
    flex-wrap: wrap;
    width: 1440px;

}
.UnitTarif{
    position: relative;
    width: 415px;
    height: 540px;
    border-radius: 10px;
    //border: solid #FFB64F;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}
.HeaderTarif{
    font: var(--font-header-tarif);


}
.HeaderTarifBlockBeginner{
    background: #FFB64F;
    height: 65px;
    padding: 20px 20px;
    border-radius: 10px 0;

}
.HeaderTarifBlockPro{
    background: #7CE3E1;
    height: 65px;
    padding: 20px 20px;
    border-radius: 10px 0;

}
.HeaderTarifBlockBusiness{
    background: #000000;
    height: 65px;
    padding: 20px 20px;
    border-radius: 10px 0;

    color: #FFFFFF;
}

.Subtitle{
    font: var(--font-small-main-mobile);
}
.PriceTarif{
    font: var(--font-header-tarif);
    position: absolute;
    top: 130px;
    left: 20px;

}
.OldPrice{
    font: var(--font-header-tarif);
    position: absolute;
    top: 130px;
    left: 150px;
    color: #909090;


}
.CreditPrice{
    font: var(--font-small-main-mobile);
    position: absolute;
    top: 175px;
    left: 20px;

}
.PackageTarif{
    font: var(--font-small-main-mobile);
    position: absolute;
    top: 200px;
    left: 20px;

}
.ButtonTarif{
    position: absolute;
    bottom: 15px;
    left: 25px;
    width: 355px;
    height: 59px;

}
.Lamp{
    position: absolute;
    width: 92px;
    top: 5px;
    left: 315px;

}