.MainHeader{
    //height: 620px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
.BigText{
    font: var(--font-header-main);
    max-width: 743px;
    min-height: 361px;
    height: 288px;

}
.SmallText{
    font: var(--font-small-main);
    max-width: 534px;
    min-height: 361px;
    height: 48px;

}
.Button{
    max-width: 335px;
    height: 59px;

}
.LeftBlock{
    max-width: 743px ;
    min-height: 361px;
    max-height: 420px;
}
.Picture{
    max-width: 575px;
    min-width: 361px;

    //height: 620px;
    //top: 117px;
    //left: 751px;

}