.SearchPage{
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0 50px 0;

}
.Header{
    font: var(--font-header-authorize-main);
}
.HeaderContainer{
    max-width: 700px;
    margin: 0 160px 40px 0;
}
.Subtitle{
    font: var(--font-small-main);
}

.SearchPicture{
    width: 442px;
    height: 470px;


}
.Piece{
    width: 91px;
    height: 111px;
    margin: 10px 150px 0 0;

}
.Folders {
    width: 140px;
    height: 68px;

}
@media screen and (max-width:960px){
.SearchPage{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

}
.Header{
    font: var(--font-header-authorize-main);
}
.HeaderContainer{
    max-width: 700px;
    width: 300px;
    margin: 0 100px 40px 0;

}
.Subtitle{
    font: var(--font-small-main);
}

.SearchPicture{
    width: 442px;
    height: 470px;


}
.Piece{
    width: 91px;
    height: 111px;
    margin: 150px 150px 0 0;

}
.Folders {
    display: none;

}

}