@import "reset";
@import "fonts";


:root{
    --app-background: #FFFFFF;
    --app-color-button: #5970FF;
    --app-color-bottom:  #029491;
;


    --font-header: "Ferry", serif;
    // font  header
    --font-size-header: 60px;
    --font-line-height-header: 72px;
    --font-weight-header: 900;
    --font-header-main: var(--font-weight-header) var(--font-size-header) / var(--font-line-height-header) var(--font-header) ;

        // font  header authorize
    --font-size-header-authorize: 40px;
    --font-line-height-header-authorize: 48px;
    --font-weight-header-authorize: 900;
    --font-header-authorize-main: var(--font-weight-header-authorize) var(--font-size-header-authorize) / var(--font-line-height-header-authorize) var(--font-header) ;


    // font  header mobile
    --font-size-header-mobile: 28px;
    --font-line-height-header-mobile: 33px;
    --font-weight-header-mobile: 900;
    --font-header-main-mobile: var(--font-weight-header-mobile) var(--font-size-header-mobile) / var(--font-line-height-header-mobile) var(--font-header) ;


    --font-main: "Inter", serif;
    // font small
    --font-size-small: 20px;
    --font-line-height-small: 24px;
    --font-weight-small: 400;
    --font-small-main: var(--font-weight-small) var(--font-size-small)  / var(--font-line-height-small) var(--font-main)  ;

        // font small mobile
    --font-size-small-mobile: 18px;
    --font-line-height-small-mobile: 21px;
    --font-weight-small-mobile: 400;
    --font-small-main-mobile: var(--font-weight-small-mobile) var(--font-size-small-mobile)  / var(--font-line-height-small-mobile) var(--font-main)  ;

        // font bottom
    --font-size-bottom: 14px;
    --font-line-height-bottom: 16px;
    --font-weight-bottom: 400;
    --font-bottom-main: var(--font-weight-bottom) var(--font-size-bottom)  / var(--font-line-height-bottom) var(--font-main)  ;

            // font header tarif
    --font-size-tarif: 30px;
    --font-line-height-tarif: 36px;
    --font-weight-tarif: 500;
    --font-header-tarif: var(--font-weight-tarif) var(--font-size-tarif)  / var(--font-line-height-tarif) var(--font-main)  ;


}